VITE_SUPABASE_URL=https://qpwpyfcuqxtzqulqmbaf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_sVb8V8jdZvc4y2gDsOuG0w_HaNVysF_
VITE_SUPABASE_RESUME_BUCKET=resume
VITE_SUPABASE_RESUME_PATH=sanjeet-kumar-resume.pdf
